<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
</head>
<body>
    <h3>Student With Given ID :</h3>
    <p>Name : <%= student.name  %></p>
    <p>Branch : <%= student.branch  %></p>
    <hr>
</body>
</html>