<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>
<body>
    <div>
        <ol>
            <% students.forEach(std=> { %>
                <li>Name: <%= std.name %> -  branch: <%= std.branch %></li>
                <% }); %>
        </ol>
    </div>
</body>
</html>


